@charset"utf-8";
$white:#ffffff;
$ashen:#d9d6c3;
/*ashen:灰白*/

$silver:#a1a3a6;
/*silver:银色*/

$gray:#555555;
$black:#21242b;
$red:#e51400;
$crimson:#a20025;
/*crimson:赤红*/

$green:#60a917;
$blue:#00aff0;
$yellow:#e3c800;
$yellowish:#dec674;
/*yellowish:淡黄色*/

$gold:#fffcb0;
$orange:#fa6800;
$apricot:#fab27b;
/*apricot:杏色*/

$brownness:#843900;
/*brownness:褐色*/

$colormoment:#f7acbc;
/*colormoment:鸨色*/

$cherry:#feeeed;
/*cherry:櫻色*/

$roseous:#f05b72;
/*roseous:蔷薇色*/

$redplum:#f69c9f;
/*redplum:红梅色*/

$lime:#a4c400;
/*olivine:黄绿*/

$whitegreen:#cde6c7;
/*whitegreen:白绿*/

$inst:#90d7ec;
/*inst:空色*/

$cyan:#1ba1e2;
/*cyan:青色*/

$emerald:#008a00;
/*emerald:翠绿色*/

$teal:#00aba9;
/*$teal:水鸭色*/

$cobalt:#0050ef;
/*cobalt:钴制的深蓝色*/

$indigo:#6a00ff;
/*indigo:靛蓝*/

$violet:#aa00ff;
/*violet:紫罗兰色*/

$pink:#dc4fad;
/*pink:粉红色*/

$magenta:#d80073;
/*magenta:品红*/

$amber:#f0a30a;
/*amber:琥珀色*/

$brown:#825a2c;
/*brown: 褐色*/

$olive:#6d8764;
/*olive:橄榄色*/

$steel:#647687;
/*steel:钢铁*/

$mauve:#76608a;
/*mauve:淡紫色*/

$taupe:#87794e;
/*taupe:灰褐色*/

$dark:#333333;
/*dark:深色的*/

$darker:#222222;
/*darker:比较暗的*/

$transparent:transparent;
/*transparent:透明的*/

$darkBrown:#63362f;
/*darkBrown:深棕色*/

$darkCrimson:#640024;
/*darkCrimson:暗红色*/

$darkMagenta:#81003c;
/*darkMagenta:深洋红色*/

$darkIndigo:#4b0096;
/*darkIndigo:深靛蓝色*/

$darkCyan:#1b6eae;
/*darkCyan:深青色*/

$darkCobalt:#00356a;
/*darkCobalt: 深钴蓝色*/

$darkTeal:#004050;
/*darkTeal:深蓝绿*/

$darkEmerald:#003e00;
/*darkEmerald:黑暗的翡翠*/

$darkGreen:#128023;
/*darkGreen:深绿色*/

$darkOrange:#bf5a15;
/*darkOrange:深橙色*/

$darkRed:#9a1616;
/*darkRed:深红色*/

$darkPink:#9a165a;
/*darkPink:深粉色*/

$darkViolet:#57169a;
/*darkViolet:暗紫罗兰色*/

$darkBlue:#16499a;
/*darkBlue:深蓝色*/

$lightBlue:#4390df;
/*lightBlue:浅蓝色*/

$lightRed:#ff2d19;
/*lightRed:淡红色*/

$lightGreen:#7ad61d;
/*lightGreen:淡绿色*/

$lighterBlue:#00ccff;
/*lighterBlue:浅蓝色*/

$lightTeal:#45fffd;
/*lightTeal:浅蓝绿*/

$lightOlive:#78aa1c;
/*lightOlive:浅橄榄色*/

$lightOrange:#c29008;
/*lightOrange:淡橙色*/

$lightPink:#f472d0;
/*lightPink:淡粉色*/

$grayDark:#333333;
/*grayDark:灰黑色*/

$grayDarker:#222222;
/*grayDarker:较深灰黑色*/

$grayLight:#999999;
/*grayLight:淡麻灰*/

$grayLighter:#eeeeee;
/*grayLighter:浅麻灰*/

$ink:#464547;
/*ink:墨*/

$lightWhite:#f6f5ec;
/*lightWhite:生白色*/


